<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>midCoord</key>
        <string>{34.4248,-118.5971}</string>
        <key>overlayTopLeftCoord</key>
        <string>{34.4311,-118.6012}</string>
        <key>overlayTopRightCoord</key>
        <string>{34.4311,-118.5912}</string>
        <key>overlayBottomLeftCoord</key>
        <string>{34.4194,-118.6012}</string>
        <key>boundary</key>
        <array>
            <string>{34.4313,-118.59890}</string>
            <string>{34.4274,-118.60246}</string>
            <string>{34.4268,-118.60181}</string>
            <string>{34.4202,-118.6004}</string>
            <string>{34.42013,-118.59239}</string>
            <string>{34.42049,-118.59051}</string>
            <string>{34.42305,-118.59276}</string>
            <string>{34.42557,-118.59289}</string>
            <string>{34.42739,-118.59171}</string>
        </array>
        <key>Annotations</key>
        <array>
            <dict>
                <key>name</key>
                <string>First Aid 1</string>
                <key>location</key>
                <string>{34.42635,-118.59712}</string>
                <key>type</key>
                <string>1</string>
                <key>subtitle</key>
                <string>Intensity: 8/10</string>
            </dict>
            <dict>
                <key>name</key>
                <string>First Aid 2</string>
                <key>location</key>
                <string>{34.42581,-118.60089}</string>
                <key>type</key>
                <string>1</string>
                <key>subtitle</key>
                <string>Intensity: 6/10</string>
            </dict>
            <dict>
                <key>name</key>
                <string>First Aid 3</string>
                <key>location</key>
                <string>{34.42430,-118.60074}</string>
                <key>type</key>
                <string>1</string>
                <key>subtitle</key>
                <string>Intensity: 6/10</string>
            </dict>
            <dict>
                <key>name</key>
                <string>First Aid 4</string>
                <key>location</key>
                <string>{34.42156,-118.59556}</string>
                <key>type</key>
                <string>1</string>
                <key>subtitle</key>
                <string>Intensity: 10/10</string>
            </dict>
            <dict>
                <key>name</key>
                <string>First Aid 5</string>
                <key>location</key>
                <string>{34.42150,-118.59741}</string>
                <key>type</key>
                <string>1</string>
                <key>subtitle</key>
                <string>Intensity: 7/10</string>
            </dict>
            <dict>
                <key>name</key>
                <string>Food Outlet 1</string>
                <key>location</key>
                <string>{34.42126,-118.595637}</string>
                <key>type</key>
                <string>2</string>
                <key>subtitle</key>
                <string>Cost: $$</string>
            </dict>
            <dict>
                <key>name</key>
                <string>Food Outlet 2</string>
                <key>location</key>
                <string>{34.42401,-118.59495}</string>
                <key>type</key>
                <string>2</string>
                <key>subtitle</key>
                <string>Cost: $</string>
            </dict>
            <dict>
                <key>name</key>
                <string>First Aid</string>
                <key>location</key>
                <string>{34.42640,-118.59918}</string>
                <key>type</key>
                <string>3</string>
                <key>subtitle</key>
                <string>Call 911 For Emergency</string>
            </dict>
        </array>
    </dict>
</plist>
